# vim: ft=systemd

[Unit]
Description=Orvibo Daemon Web Service

[Service]
User=chris
Restart=always
RestartSec=5
WorkingDirectory=/home/chris/apps/orvibod
Environment=RACK_ENV=production
ExecStart=/home/chris/apps/orvibod/bin/unicorn -c config/unicorn.rb

[Install]
WantedBy=default.target
